:root {
    --white : #FFFFFF;
    --black : #000000;
    --very-light-pink : #c7c7c7;
    --text-inpunt-field:#F7F7F7;
    --hospital-green:#ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center; /*sirve para la clase2.html y centrar icono*/ 
}
.form-container2 {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}
.title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}
.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-bottom: 32px;
    font-weight: 300;
    margin-top: 0;
    text-align: center;
}
label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input {
    background-color: var(--text-inpunt-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}
.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}
.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}
.email-image{
width: 132px;
height: 132px;
border-radius: 50%;
background-color: var(--text-inpunt-field);
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 24px ;
}
/* Esto corresponde a clase2.html*/ 
.email-image img{
    width: 80px;
}
.resend {
    font-size: var(--sm);
}
.resend span {
    color: var(--very-light-pink);
}
.resend a{
    color: var(--hospital-green);
}
/* Esto corresponde a clase2.html*/ 

/* Esto corresponde a clase3.html*/ 
.form a{

    margin-bottom: 250px;
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
}
.input-email{
    margin-bottom: 20px;
}
.secondary-button{
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
/* Esto corresponde a clase3.html*/ 

/*Esto corresponde a clase4.html */
#title4{
    margin-bottom: 40px;
    font-size: var(--lg);
    text-align: start;
}
.form2{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}
.form2 div{
    display: flex;
    flex-direction: column;
}
.input-name, .input-email .input-passaword{
    margin-bottom: 22px;
}
/*Esto corresponde a clase4.html */

.value{
    color: var(--very-light-pink);
    margin: 8px 0 32px 0;
    font-size: var(--md);
}
/*Esto corresponde a clase6.html */
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}
.product-card{
    width: 240px;
}
.product-card img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover; /*Esta imagen se adecua al tamaño que le demos*/
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
    font-weight: bold;
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color:var(--very-light-pink) ;
}

.product-card figure{
    margin: 0;
}

.product-card figure img{
    width: 35px;
    height: 35px;
}

/*Esto corresponde a clase6.html */

/*Esto corresponde a clase7.html */
.desktop-menu{
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li{
text-align: end;
}
.desktop-menu ul li:last-child{/* last-child es la ultima  ul y li*/
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
    }

    .desktop-menu ul li:last-child a{/* last-child es la  a de la ultima ul y li*/
color: var(--hospital-green);
font-size: var(--sm);
        }
        .desktop-menu ul li a{
            color: var(--black);
            text-decoration: none;
            margin-bottom: 20px;
            display: inline-block;/*como la etiqueta a es un inline no tiene margin entonces le damos propiedades de block*/
        }
        .desktop-menu ul li:nth-child(1),
        .desktop-menu ul li:nth-child(2){
            font-weight: bold;
            }
/*Esto corresponde a clase7.html */

/*Esto corresponde a clase8.html */
.mobile-menu{
    padding: 24px; ;
}
.mobile-menu a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;

}
.mobile-menu ul{
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}
.mobile-menu ul li{
    padding: 0;
    margin-bottom: 24px ;
    list-style: none;
}
.email{
    font-size: var(--sm);
    font-weight: 300 !important;
}
.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);

}
.sign-out{
    color: var(--hospital-green) !important;
    font-size: var(--sm);
}

.mobile-menu ul:last-child{
    margin-top: 60px;
}

/*Esto corresponde a clase8.html */

/*Esto corresponde a clase9.html */
.my-order{
    width: 100%;
    height: 100vh;
    display: grid ;
    place-items: center;
}
.title9{
    font-size: var(--lg);
    margin-bottom: 40px;
}
.my-order-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.my-order-content{
    display: flex;
    flex-direction: column;
}
.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    align-items: center;
}
.shopping-cart img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-bottom: 24px;
}
.shopping-cart p:nth-child(2){
font-size: var(--md);
color: var(--very-light-pink);
text-align: start;
}
.shopping-cart p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
    }
    .shopping-cart figure {
        margin: 0;
    }
    .order{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 16px;
        align-items: center;
margin-top: 24px;
margin-bottom: 40px;
padding: 0 24px;
border-radius: 8px;
        background-color: var(--text-inpunt-field);
    }
    .order p:nth-child(1){
        display: flex;
        flex-direction: column;
    }
    .order p span:nth-child(1){
        font-size: var(--sm);
        font-weight: bold;
    }
    .order p span:nth-child(2){
        font-size: var(--sm);
        color: var(--very-light-pink);
    }
    .order p:nth-child(2){
        text-align: end;
        font-weight: bold;
    }

/*Esto corresponde a clase9.html */

@media (max-width: 640px) {
    .logo{
        display: block;
    }
    .form a {
        margin-bottom: 50px;
    }

    /*Esto corresponde a clase4.html */
    .form-container2{
        height: 100%;
    }
    .form2{
        height: 100%;
        justify-content: space-between;
    }
    /*Esto corresponde a clase4.html */

    /*Esto corresponde a clase6.html */
    .cards-container{
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card{
        width: 140px;
    }
    .product-card img{
        width: 140px;
        height: 140px;
    }
    /*Esto corresponde a clase6.html */

    
}